.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: top 0.3s ease; /* menambahkan efek transisi */
  }
  
  .navbar.sticky {
    top: -100px; /* menyesuaikan nilai top sesuai kebutuhan */
  }
  
/* about */
#a6{
    display: block;
    margin: auto;
    margin-left: 40%;
    margin-bottom: 2%;
    
  }

/* .abt{
    margin-top: 3%;
} */

#tk1{
    text-align: justify;
    line-height: 2;
    display: block;
}

/* skills */
/* .card{
    display: block;
    margin: auto;
    margin-left: 40%;
    margin-bottom: 2%;
    
} */

.card-img-top, .card-img-bottom {
    width: 10px; /* Sesuaikan dengan lebar yang Anda inginkan */
    height: auto; /* Biarkan tinggi gambar dihitung otomatis untuk mempertahankan rasio aspek */
  }
  